<% unedited_author = Author.find(@author.id) %>
<% provide(:title, 'Edit ' + unedited_author.full_name) %>
<h1>Edit <%= unedited_author.full_name %></h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@author) do |f| %>
			<%= render 'authors/author_error_messages' %>
				
			<%= f.label :prefix %>
			<%= f.text_field :prefix %>
				
			<%= f.label :firstname %>
			<%= f.text_field :firstname %>
				
			<%= f.label :middlename %>
			<%= f.text_field :middlename %>
				
			<%= f.label :lastname %>
			<%= f.text_field :lastname %>
				
			<%= f.label :suffix %>
			<%= f.text_field :suffix %>

			<%= f.label :profession %>
			<%= f.text_field :profession %>
				
			<%= f.label :bio %>
			<%= f.text_area :bio %>
				
			<%= f.label :notes %>
			<%= f.text_area :notes %>
				
			<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
