<% provide(:title, @author.full_name) %>
<h1><%= @author.full_name %></h1>

<h2>Quotes</h2>

<h2>Details</h2>
  <p>
    Profession: <%= @author.profession %><br />
		Birth Date: <%= @author.birthdate.nil? ? "Unknown" : @author.birthdate.strftime("%B %-d, %Y")  %><br />
		Death Date: <%= @author.deathdate.nil? ? "Unknown" : @author.deathdate.strftime("%B %-d, %Y") %><br />
  </p>
		
  <h3>Biography</h3><p><%= @author.bio %></p>
	<h3>Notes</h3><p><%= @author.notes %></p>

<% if admin_user? %>
<h2>Admin Tasks</h2>
<ul>
  <li>
    <%= link_to "edit", edit_author_path(@author) %>
  </li>
  <li>
    <%= link_to "delete", @author, method: :delete,
                              data: { confirm: "You sure?" } %>
  </li>
</ul>
<% end %>
